  <table
    class="table table-borderless text-center text-primary">
    <tr>
      <td  (click)="emitKey(1)">1</td>
      <td  (click)="emitKey(2)">2</td>
      <td  (click)="emitKey(3)">3</td>
    </tr>
    <tr>
      <td  (click)="emitKey(4)">4</td>
      <td  (click)="emitKey(5)">5</td>
      <td  (click)="emitKey(6)">6</td>
    </tr>
    <tr>
      <td  (click)="emitKey(7)">7</td>
      <td  (click)="emitKey(8)">8</td>
      <td  (click)="emitKey(9)">9</td>
    </tr>
    <tr>
      <td (click)="emitKey(0.1)">,</td>
      <td (click)="emitKey(0)">0</td>
      <td (click)="emitKey(-1)">+/-</td>
    </tr>
  </table>

