<div class="row p-0">
  <div class="col-md-4 mb-3">
    <div class="btn-group-vertical-sm">
      <div class="btn btn-outline-primary btn-block"(click)="emitSign(1)">+</div>
      <div class="btn btn-outline-primary btn-block"(click)="emitSign(2)">-</div>
      <div class="btn btn-outline-primary btn-block"(click)="emitSign(3)">x</div>
      <div class="btn btn-outline-primary btn-block"(click)="emitSign(4)">/</div>
    </div>
  </div>
  <div class="col-md-8">
    <ul class="list-group">
      <li class="return list-group-item list-group-item-success p-3" (click)="emitAction(1)">
        <h3>=</h3>
      </li>
      <li class="back list-group-item list-group-item-warning " (click)="emitAction(2)" >
        CE</li>
      <li class="cancel list-group-item list-group-item-danger " (click)="emitAction(3)" >
        C</li>
    </ul>
  </div>
</div>
